h1{
    text-align: center;
    margin-top: -610px;
}
.songList{
    width: 300px;
    /*background-color: grey;*/
    height: 550px;
    margin-left: 1058px;
    margin-top: -520px;
}
h2{
    text-align: center;
    margin-top: 20px;
}
.currentSong{
    height: 500px;
    width: 500px;
    background-color: grey;
    margin-left: 425px;
    margin-top:50px;
}
#listImage{
   height:50px; 
   width:50px;
    
}
.currentImage{
    /*background-color: black;*/
    height: 250px;
    width: 250px;
    margin-left: 125px;
    margin-top: -40px;
}
.add-song{
    /*background-color: grey;*/
    height: 550px;
    width: 300px;
    margin-top: 60px;
}
.form-group{
    padding: 20px;
}
button{
    margin-left: 20px;
}
.list{
    padding: 10px;
    margin-top: 20px;
}
input{
    margin-left: 10px;
}
.currentLink{
    margin-bottom:-175px;
}