.songList{
    width: 800px;
    height: 550px;
    margin-left: 300px;
    margin-top: -600px;
}
h2{
    text-align: center;
    margin-top: 20px;
    color: red;
}
#listImage{
   height:50px; 
   width:50px;
    
}
.currentImage{
    height: 250px;
    width: 250px;
    margin-left: 125px;
    margin-top: -40px;
}
.add-song{
    height: 550px;
    width: 300px;
    margin-top: 60px;
    color: red;
}
.form-group{
    padding: 20px;
    color: red;
}
button{
    margin-left: 20px;
    color: red;
}
.list{
    padding: 10px;
    margin-top: 20px;
}
input{
    margin-left: 10px;
}
.currentLink{
    margin-bottom:-175px;
}
h3{
    margin-left: 200px;
    margin-top: -20px;
    color: red;
}
p{
    margin-left: 200px;
    margin-top: -10px;
    color: red;
}
a{
    margin-left: 200px;
    margin-top: -20px;
    color: red;
}
#listImage{
    margin-bottom: -55px;
    height: 100px;
    width: 100px;
}
body{
    background-color: black;
}
